body {
    background-color: rgb(59, 133, 173);
}

a {
    color: white;
    fill: white;
}

#animation {
    width: 300px;
    height: 180px;
    background-image: url(./img/backgroud.png);
    display: inline-block;
}